APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a78385c00377c76eaf6
APPWRITE_DATABASE_ID=6a7864550003fbf7514b
APPWRITE_TABLE_ID=files
APPWRITE_BUCKET_ID=6a81c401000a42a7812d
APPWRITE_API_KEY=your_api_key_here